<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Gallery View</title>
  <link rel="stylesheet" href="/static/output.css"/>
</head>
<body class="bg-sky-200">
  <div class="max-w-6xl mx-auto">
    <header class="bg-white bg-opacity-95 p-4 rounded-lg shadow-lg my-8">
      <h1 class="text-4xl font-bold text-gray-800 mb-2">Gallery</h1>
    </header>
  </div>

<script src="/static/script.js">
</script>
</body>
</html>
